/*
* Variable Scss
* V 1.0
* Style Variable For Every Files Scss
* * * * * * * * * * * * * * * * * * * * * */

// Color
$color0: #000000;
$color1: #ffffff;
$color3: #efefef;
$color4: #42b983;
$color5: #cccccc;

// Size 
$gridspace: 15px;